body {
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-size: 30sssssssssssspx;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 20px;
    color: black;
}

canvas {
    border: 3px solid white;
    box-shadow: 3px 3px 3px black;
}